<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link href="__ASSETS__/admin/css/style.css" rel="stylesheet"/>
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<title>后台管理</title>
</head>
<body>
<div id="J_ajax_loading" class="ajax_loading">加载中...</div>

<block name="body_main">


</block>

<script src="__ASSETS__/admin/js/jquery.min.js"></script>

<block name="footerjs">

</block>

</body>
</html>