<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link href="__ASSETS__/admin/css/style.css" rel="stylesheet"/>
<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="__ASSETS__/basethink/plugins/artDialog/css/ui-dialog.css" rel="stylesheet"/>
<link href="__ASSETS__/basethink/plugins/validator/dist/jquery.validator.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<title>后台管理</title>
</head>
<body>
<div id="J_ajax_loading" class="ajax_loading">加载中...</div>

<div class="subnav">
    <div class="content_menu ib_a blue line_x">
        <notempty name="big_menu">
        <a class="add fb J_showdialog" href="javascript:void(0);" data-uri="{$big_menu.iframe}" data-title="{$big_menu.title}" data-id="{$big_menu.id}" data-width="{$big_menu.width}" data-height="{$big_menu.height}"><em>{$big_menu.title}</em></a>　
        </notempty>
        <notempty name="sub_menu">
        <volist name="sub_menu" id="val" key="key">
            <if condition="$key neq 1"><span>|</span></if>
            <a href="{:U($val['module_name'].'/'.$val['action_name'],array('menuid'=>$menuid))}/{$val.data}" class="{$val.class}"><em>{$val['name']}</em></a>
        </volist>
        </notempty>
    </div>
</div>


<block name="body_main">


</block>

<script src="__ASSETS__/admin/js/jquery.js"></script>
<script src="__ASSETS__/admin/js/listTable.js"></script>
<script src="__ASSETS__/basethink/plugins/artDialog/dist/dialog-min.js"></script>
<script src="__ASSETS__/basethink/plugins/validator/dist/jquery.validator.js"></script>
<block name="footerjs">

</block>
<script>
function cpk_tip(msg){
    var d = dialog({
        content: '<span class="text-success"><i class="fa  fa-check-circle"></i>'+msg+'</span>'
    });
    d.show();
    setTimeout(function () {
        d.close().remove();
    }, 2000);
}
function cpk_dialog_remove(dialogid){
	if(typeof dialogid == "undefined"){
		dialogid = "j_artdialog_form";
	}
    var f= dialog.get(dialogid);
    f.close().remove();
}
function cpk_alert(msg){
	var d = dialog({
		id   : "j_artdialog_alert",
	    title: '提示',
	    content: msg,
	    fixed : true,
	    okValue : "确定",
	    ok: function () {},
	    statusbar: '<label><input type="checkbox">不再提醒</label>'
	});
	d.show();
}



$(function(){
	$('.J_tablelist').listTable();
});



$(document).on("click",".J_showdialog",function(){
    var o_this = $(this),
    dtitle     = o_this.attr('data-title'),
    duri       = o_this.attr('data-uri'),
    dwidth     = o_this.attr('data-width'),
    dheight    = o_this.attr('data-height'),
    dcallback  = o_this.attr('data-callback');

    $.getJSON(duri, function(result){
        if(result.status == 1){
            var d = dialog({
            	id : "j_artdialog_form",
                title: dtitle,
                content: result.data,
                width  : dwidth,
                height : dheight,
                okValue: '确定',
                ok: function () {
                    $("#j_artdialog_form").submit();
                    return false;
                },
                cancelValue: '取消',
                cancel: function () {},
            });
            d.showModal();
        }
    });
    return false;
});
$.validator.setTheme('bootstrap', {
    validClass: 'has-success',
    invalidClass: 'has-error',
    bindClassTo: '.form-group',
    formClass: 'n-default n-bootstrap',
    msgClass: 'n-right'
});


$(document).on("click",".J_confirmurl",function(){
	var o_this = $(this),
	id         = o_this.attr('data-id')
	uri        = o_this.attr('data-uri'),
	dtitle     = o_this.attr('data-title'),
	msg        = o_this.attr('data-msg'),
	callback   = o_this.attr('data-callback');

    var d = dialog({
    	id : "j_artdialog_confirm",
        title: dtitle,
        content: msg,
        okValue: '确定',
        ok: function () {
		    $.ajax({
		        type : 'post',
		        url  : uri,
		        data : {id:id},
		        success: function(res) {
		            if(res.status==1){
		                cpk_tip(res.msg);
						if(callback != undefined){
							eval(callback+'(self)');
						}else{
							window.location.reload();
						}
		            }else{
		                cpk_alert(res.msg)
		            }
		        }
		    });
		    this.remove();
            return false;
        },
        cancelValue: '取消',
        cancel: function () {},
    });
    d.showModal();
});


</script>
</body>
</html>