<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <title><php>echo implode("-",array_filter(array($page_title,$catcnname,C('fdz_site_name')))); </php></title>
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <meta name="description" content="{$info.description}{:C('WEB_SITE_DESCRIPTION')}">
  <!-- core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p>免费咨询<i class="fa fa-phone-square"></i>  400-086-3597</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">

                            <div class="search">
                                <form role="form" action="{:U('/news/searchlist')}" method="GET">
                                    <input type="text" name="searchkeywords" class="search-form" autocomplete="off" placeholder="搜索文章">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div>



        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">

                <div class="col-md-2" style="padding: 20px 0px 20px 20px;  ">
                    <a><img src="/static/img/logo.png" class="img-responsive" /></a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                </div>
                
                <div class="col-md-10 collapse navbar-collapse navbar-left">
                    <ul class=" nav navbar-nav" style="padding: 20px 0px;">
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='index'){ echo 'active';}</php>"><a href="/index.html">首页</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='about'){ echo 'active';}</php>"><a href="/about.html">关于我们</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='news'){ echo 'active';}</php>"><a href="/news.html">新闻资讯</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='teaching'){ echo 'active';}</php>"><a href="/teaching.html">师资力量</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='class'){ echo 'active';}</php>"><a href="/class.html">课程设置</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='works'){ echo 'active';}</php>"><a href="/works.html">作品展示</a></li>
                        <li class="<php>if(strtolower(CONTROLLER_NAME)=='enrollment'){ echo 'active';}</php>"><a href="/enrollment.html">招生简章</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->



    <block name="body_main">


    </block>




    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <volist name="footAboutListData" id="vo">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h3>{$vo.title}</h3>
                            <ul>
                                <volist name="vo['listdata_format']" id="voo">
                                    <li>{$voo}</li>
                                </volist>
                            </ul>
                        </div>    
                    </div>
                </volist>
            </div>
        </div>
    </section><!--/#bottom-->



    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <volist name="footerListData['listdata_format']" id="vo">
                        <p>{$vo}</p>
                    </volist>
                </div>
                <div class="col-sm-3 text-right" style="margin-top: 100px;">
                    <a href="http://www.lankuwangluo.com" target="_blank">由浙江蓝酷网络科技提供技术支持</a>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.min.js"></script>


<php>if(CONTROLLER_NAME=="Index"){</php>
<link href="/static/banner/css/style.css" rel="stylesheet">
<script  src="/static/js/indexbanner.js"></script>
<script>
    $('.fullwidthbanner').revolution({
        delay:9000,
        startheight:450,
        startwidth:1120,

        hideThumbs:200,

        thumbWidth:100,                         // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
        thumbHeight:50,
        thumbAmount:5,

        navigationType:"bullet",                    //bullet, thumb, none, both     (No Thumbs In FullWidth Version !)
        navigationArrows:"verticalcentered",        //nexttobullets, verticalcentered, none
        navigationStyle:"round",                //round,square,navbar

        touchenabled:"on",                      // Enable Swipe Function : on/off
        onHoverStop:"on",                       // Stop Banner Timet at Hover on Slide on/off

        navOffsetHorizontal:0,
        navOffsetVertical:0,

        stopAtSlide:-1,
        stopAfterLoops:-1,

        shadow:0,                               //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
        fullWidth:"on"                          // Turns On or Off the Fullwidth Image Centering in FullWidth Modus
    }); 
</script>


<script>
    $(".youshilist li").hover(function() {
        $(this).find(".youpic").animate({
            "top": "10px"
        },
        500);      
    },
    function() {
        $(this).find(".youpic").animate({
            "top": "25px"
        },
        500);
    });
</script>

<php>}</php>
<block name="footerjs">

</block>
    

</body>
</html>