<!--编辑商品接口-->
<div class="dialog_content" style="padding:0 20px;">
    <form id="j_artdialog_form" action="{:U('setting/uploadconfig_edit')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th>名称 :</th>
            <td>{$info.name}</td>
        </tr>
        <tr>
            <th>附件标示 :</th>
            <td><input type="text" name="typename"  class="" size="30" value="{$info.typename}"></td>
        </tr>
        <tr>
            <th>最大上传大小 :</th>
            <td><input type="text" name="maxsize"  class="" size="30" value="{$info.maxsize}"></td>
        </tr>
        <tr>
            <th>大小错误提示 :</th>
            <td><input type="text" name="maxsize_errorinfo"  class="" size="30" value="{$info.maxsize_errorinfo}"></td>
        </tr>
        <tr>
            <th>允许的格式 :</th>
            <td><input type="text" name="allowext"  class="" size="30" value="{$info.allowext}"></td>
        </tr>
        <tr>
            <th>裁剪的类型 :</th>
            <td><input type="text" name="sub_type"   style="width: 100px;"  class="" size="30" value="{$info.sub_type}">截取类型（1、居中裁剪，2、右上角裁剪，3左下角裁剪）</td>
        </tr>
        <tr>
            <th>裁剪的宽度 :</th>
            <td><input type="text" name="sub_width" style="width: 50px;"  class="" size="30" value="{$info.sub_width}"></td>
        </tr>
        <tr>
            <th>裁剪的高度 :</th>
            <td><input type="text" name="sub_height" style="width: 50px;"  class="" size="30" value="{$info.sub_height}"></td>
        </tr>
        <tr>
            <th>缩放的类型 :</th>
            <td><input type="text" name="scale_type" style="width: 100px;"  class="" size="30" value="{$info.scale_type}">缩放类型（1、缩放不填充，2、缩放填充，3、变形缩放）</td>
        </tr>
        <tr>
            <th>缩放的宽度 :</th>
            <td><input type="text" name="scale_width" style="width: 50px;"  class="" size="30" value="{$info.scale_width}"></td>
        </tr>
        <tr>
            <th>缩放的高度 :</th>
            <td><input type="text" name="scale_height" style="width: 50px;"  class="" size="30" value="{$info.scale_height}"></td>
        </tr>
        <tr>
            <th>返回图形类型 :</th>
            <td><input type="text" name="upload_return_type" style="width: 50px;"  class="" size="30" value="{$info.upload_return_type}">上传后返回类型（-1、裁剪图替换原图0、原图返回，1，裁剪图返回，2、放缩图返回）</td>
        </tr>



    </table>
    <input type="hidden" name="id" value="{$info.id}" />
    </form>
</div>

<script>
$(function(){
    $('#j_artdialog_form').validator(function(form){
        $.ajax({
            type : 'post',
            url  : $(form).attr("action"),
            data : $(form).serialize(),
            success: function(res) {
                if(res.status==1){
                    cpk_dialog_remove("j_artdialog_form");
                    cpk_tip(res.msg);
                    window.location.reload();
                }else{
                    cpk_alert(res.msg)
                }
            }
        });
    });
})
</script>