<li class="treeview">
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>系统首页</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/index/index"><i class="fa "></i>系统首页</a></li>
         <li><a href="/note/index/aaaa"><i class="fa "></i>用户分析</a></li>
        <li><a href="/note/index/orderChart"><i class="fa "></i>订单分析</a></li>
        <li><a href="/note/productchart/index"><i class="fa "></i>商品分析</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-gears"></i> <span>系统设置</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/config/shop/index"><i class="fa "></i>商城设置</a></li>
        <li><a href="/note/config/province/index"><i class="fa "></i>地址设置</a></li>
        <li><a href="/note/config/tpl/index"><i class="fa "></i>模板设置</a></li>
        <li><a href="/note/config/alipay/index"><i class="fa "></i>支付宝设置</a></li>
        <li><a href="/note/config/wxprint/index"><i class="fa "></i>微信打印机设置</a></li>
        <li><a href="/note/config/sms/index"><i class="fa "></i>短信验证设置</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-link"></i> <span>微信管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/weixin/index"><i class="fa "></i>微信设置</a></li>
        <li><a href="/note/weixin/menu"><i class="fa "></i>微信菜单设置</a></li>
        <li><a href="/note/weixin/reply"><i class="fa "></i>自定义回复设置</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>文章管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/artical/index"><i class="fa "></i>文章管理</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-shopping-cart"></i> <span>商城管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/shop/ads/index"><i class="fa "></i>广告管理</a></li>
        <li><a href="/note/shop/menu/index"><i class="fa "></i>菜单管理</a></li>
        <li><a href="/note/shop/label/index"><i class="fa "></i>标签管理</a></li>
        <li><a href="/note/shop/product/index"><i class="fa "></i>商品管理</a></li>
        <li><a href="/note/shop/comment/index"><i class="fa "></i>评论管理</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-bar-chart"></i> <span>订单管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/order/today"><i class="fa "></i>当天订单</a></li>
        <li><a href="/note/order/index"><i class="fa "></i>全部订单</a></li>
        <li><a href="/note/order/index?pay_status=0"><i class="fa "></i>未付款</a></li>
        <li><a href="/note/order/index?pay_status=1"><i class="fa "></i>已付款</a></li>
        <li><a href="/note/order/index?status=0"><i class="fa "></i>未处理</a></li>
        <li><a href="/note/order/index?status=1"><i class="fa "></i>已发货</a></li>
        <!--<li><a href="/note/order/index?status=-4"><i class="fa "></i>申请退货</a></li>-->
        <!--<li><a href="/note/order/index?status=-2"><i class="fa "></i>退货中</a></li>-->
        <!--<li><a href="/note/order/index?status=-3"><i class="fa "></i>已退货</a></li>-->
        <li><a href="/note/order/index?status=2"><i class="fa "></i>已完成</a></li>
        <li><a href="/note/order/index?status=-1"><i class="fa "></i>已取消</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
    <i class="fa fa-credit-card"></i> <span>财务管理</span> <i
        class="fa fa-angle-right pull-right"></i>
</a>
    <ul class="treeview-menu">
        <li><a href="/note/trade/index"><i class="fa "></i>财务管理</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-group"></i> <span>用户管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/note/index"><i class="fa "></i>管理员管理</a></li>
        <li><a href="/note/user/index"><i class="fa "></i>用户管理</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-inbox"></i> <span>插件管理</span> <i
            class="fa fa-angle-right pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="/note/addon/index"><i class="fa "></i>插件管理</a></li>
        <!--<li><a href="/note/addon/shop')}"><i class="fa "></i>插件商店</a></li>-->
    </ul>
</li>
