<!--菜单添加-->
<div class="dialog_content">
	<form id="j_artdialog_form"  action="{:U('menu/addMenu')}" method="post">
    <table width="100%" class="table_form">
    	<tr>
          <th width="100">{:L('menu_parentid')} :</th>
          <td>
          	<select name="pid">
            	<option value="0">{:L('no_parent_menu')}</option>
            	{$select_menus}
            </select>
          </td>
        </tr>
        <tr>
          <th>{:L('menu_name')} :</th>
          <td><input type="text" name="name" data-rule="required" data-tip="输入中文菜单名"></td>
        </tr>
        <tr>
          <th>{:L('module_name')} :</th>
          <td><input type="text" name="module_name"></td>
        </tr>
        <tr>
          <th>{:L('action_name')} :</th>
          <td><input type="text" name="action_name"></td>
        </tr>
        <tr> 
          <th>{:L('att_data')} :</th>
          <td><input type="text" name="data"></td>
        </tr>
        <tr>
          <th>{:L('remark')} :</th>
          <td><textarea name="remark" cols="40" rows="3"></textarea></td>
        </tr>
        <tr>
          <th>{:L('menu_display')} :</th>
          <td>
            <label><input type="radio" name="display" class="radio_style" value="1" checked="checked"> {:L('yes')}&nbsp;&nbsp;</label>
            <label><input type="radio" name="display" class="radio_style" value="0"> {:L('no')}</label>
          </td>
        </tr>
    </table>
    </form>
</div>

<script>

$('#j_artdialog_form').validator(function(form){
    $.ajax({
        type : 'post',
        url  : $(form).attr("action"),
        data : $(form).serialize(),
        success: function(res) {
            if(res.status==1){
                cpk_dialog_remove("j_artdialog_form");
                cpk_tip(res.msg);
                window.location.reload();
            }else{
                cpk_alert(res.msg)
            }
        }
    });
});

</script>