<!--编辑菜单-->
<div class="dialog_content">
    <form id="j_artdialog_form" action="{:U('menu/saveMenu')}" method="post">
    <table width="100%" class="table_form">
        <tr>
            <th width="100">{:L('menu_parentid')} :</th>
            <td>
            <select name="pid">
                <option value="0">{:L('no_parent_menu')}</option>
                {$select_menus}
            </select>
          </td>
        </tr>
        <tr>
        <th>{:L('menu_name')} :</th>
            <td><input type="text" name="name" id="name" class="input-text" value="{$info.name}"></td>
        </tr>
        <tr>
            <th>{:L('module_name')} :</th>
            <td><input type="text" name="module_name" id="module_name" class="input-text" value="{$info.module_name}"></td>
        </tr>
        <tr>
            <th>{:L('action_name')} :</th>
            <td><input type="text" name="action_name" id="action_name" class="input-text" value="{$info.action_name}"></td>
        </tr>
        <tr> 
            <th>{:L('att_data')} :</th>
            <td><input type="text" name="data" id="data" class="input-text" value="{$info.data}"></td>
        </tr>
        <tr>
            <th>{:L('remark')} :</th>
            <td><textarea name="remark" id="remark" cols="40" rows="3">{$info.remark}</textarea></td>
        </tr>
        <tr>
            <th>{:L('menu_display')} :</th>
            <td>
                <label><input type="radio" name="display" class="radio_style" value="1" <if condition="$info.display eq 1">checked="checked"</if>> {:L('yes')}&nbsp;&nbsp;</label>
                <label><input type="radio" name="display" class="radio_style" value="0" <if condition="$info.display eq 0">checked="checked"</if>> {:L('no')}</label>
            </td>
        </tr>
    </table>
    <input name="id" type="hidden" value="{$info.id}">
    </form>
</div>

<script>
$(function(){
    $('#j_artdialog_form').validator(function(form){
        $.ajax({
            type : 'post',
            url  : $(form).attr("action"),
            data : $(form).serialize(),
            success: function(res) {
                if(res.status==1){
                    cpk_dialog_remove("j_artdialog_form");
                    cpk_tip(res.msg);
                }else{
                    cpk_alert(res.msg)
                }
            }
        });
    });
});
</script>