<extend name="Public/new_common"/>

<block name="body_main">



    <div class="row">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner" >
                <ul>
                    <volist name="bannerData" id="vo">
                        <li data-transition="" data-slotamount="15" data-masterspeed="300" data-link="{$vo.fileurl}" data-target="_blank">
                            <img src="{$vo.fileurl}" alt="{$vo.title}" />
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>


    <section id="about-us" style="padding-top: 10px;">
        <div class="container">

            <!-- Our Skill -->
            <div class="skill-wrap clearfix">

                <div class="get-started center wow fadeInDown" style="margin-top: 0px;margin-bottom: 60px;">
                    <h2>我们的服务</h2>
                    <p class="lead">我们做得不仅仅是做网站，而是全程的网络营销，我们总能为你考虑更多，因为专业，所以卓越。</p>
                    <div class="cpk_request">
                        <h4><a>About our service</a></h4>
                    </div>
                </div>
                
                <div class="row">
        
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="joomla-skill">                                   
                                <p><em>建站服务</em></p>
                                <p>web</p>
                            </div>
                        </div>
                    </div>
                    
                   
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="css-skill">                                    
                                <p><em>SEO推广</em></p>
                                <p>SEO</p>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="html-skill">                                  
                                <p><em>微信开发</em></p>
                                <p>Wexin</p>
                            </div>
                        </div>
                    </div>
                    
                     <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <div class="wp-skill">
                                <p><em>微商城</em></p>
                                <p>Mall</p>                                     
                            </div>
                        </div>
                    </div>
                    
                </div>
    
            </div><!--/.our-skill-->
        </div>
    </section>

    <section class="pricing-page" style="padding-top: 0px;">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>营销型网站设计</h2>
                <p class="lead">Some modern hand painting works</p>
            </div>
        </div>
    </section>

    <div style="text-align: center;">
            <div>
                <img class="img-responsive" src="/images/index/bgyellow.jpg">

            </div>
    </div>
    <section class="pricing-page" style="padding-top: 0px;">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>产品优势</h2>
                <p class="lead">Some modern hand painting works</p>
            </div>

                <style>
                .m-index-goodness{height: 300px;}
                .m-index-goodness ul{margin: 0;padding: 0;}
                .m-index-goodness ul li{list-style: none; }
                .m-index-goodness ul li .goodnesslidiv{border:1px #dfdfdf solid;height: 400px;}
                .m-index-goodness ul li .youpic{display:block;height:192px;margin: auto; text-align:center;}
                .m-index-goodness ul li .youpic1{ background:url(../images/you1.png) top right no-repeat;}
                .m-index-goodness ul li .youpic2{ background:url(../images/you2.png) top right no-repeat;}
                .m-index-goodness ul li .youpic3{ background:url(../images/you3.png) top right no-repeat;}
                .m-index-goodness ul li .youpic4{ background:url(../images/you4.png) top right no-repeat;}

                .m-index-goodness .u-point-div{width: 1px;height: 250px;margin: auto;position: relative;}
                .m-index-goodness .u-point-div .a-img{position: absolute;top:30px;left: -90px;}
                .m-index-goodness .u-txt-div {text-align: center;}
                .m-index-goodness .u-txt-div h2{color: #24547e;}

                </style>
                <div class="m-index-goodness">

                <ul class=" clearfix fml">
                  
                    <li class="col-sm-3" >
                        <div class="goodnesslidiv">
                            <div class="u-point-div">
                                <a class="a-img"><img src="/images/index/index_15.png"></a>
                             </div>
                            <div class="u-txt-div" style="text-align: center;">
                                <h2>插件扩展</h2>
                                <p>众多插件丰富您的网站功能</p>
                            </div>
                        </div>
                    </li>
                    

                    <li class="col-sm-3" >
                        <div class="goodnesslidiv">
                            <div class="u-point-div">
                                <a class="a-img"><img src="/images/index/index_13.png"></a>
                             </div>
                            <div class="u-txt-div" style="text-align: center;">
                                <h2>模板</h2>
                                <p>为网站运营中实现各种方便与快捷。</p>
                            </div>
                        </div>
                    </li>


                    <li class="col-sm-3" >
                        <div class="goodnesslidiv">
                            <div class="u-point-div">
                                <a class="a-img"><img src="/images/index/index_17.png"></a>
                             </div>
                            <div class="u-txt-div" style="text-align: center;">
                                <h2>内容模型</h2>
                                <p>可以适应不同需求，让您快速建站！</p>
                            </div>
                        </div>
                    </li>                    
                    <li class="col-sm-3" >
                        <div class="goodnesslidiv">
                            <div class="u-point-div">
                                <a class="a-img"><img src="/images/index/index_19.png"></a>
                             </div>
                            <div class="u-txt-div" style="text-align: center;">
                                <h2>专题聚合</h2>
                                <p>各种信息聚合在一起，用于网站运营</p>
                            </div>
                        </div>
                    </li>
                    
                  </ul>
                  <div class="clearfix"></div>
                </div>


    </div>
    </section>


    <section id="recent-works" style="padding-top: 0px;">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>经典案例</h2>
                <p class="lead">Some modern hand painting works</p>
            </div>

            <div class="row">

                <volist name="worksData" id="vo" key="k">
                    <div class="col-xs-6 col-sm-6 col-md-3 mb_22" >
                        <div class="recent-work-wrap">
                            <a class="preview" href="{$vo.cover_url}" rel="prettyPhoto"><img class="img-" src="{$vo.cover_url}" alt="{$vo.title}" height="200"></a>
                            <div class="overlay" style="pointer-events:none;">
                                <div class="recent-work-inner">
                                    <h3><a href="#">{$vo.title}</a></h3>
                                    <p>{$vo.description}</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </volist>


            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <div style="background-color: #f3f3f3;">
        <div class="container">

            <div class="row">
                <div class="col-md-8 ">
                    <div class="wow fadeInDown clearfix" style="margin-bottom: 10px;">
                        <h2><a href="/news/" style="font-size: 24px;border-left: 5px #0E4726 solid;padding-left: 5px;">新闻</a></h2>
                    </div>
                    <volist name="newsData" id="vo">

                        <div class="col-sm-4 wow fadeInDown">
                            <div class="clients-news text-center">
                                <a href="{:U($vo['href_url'],array('id'=>$vo['id']))}" title="{$vo['title']}"><img src="{$vo.cover_url}" class="img-responsive" alt="{$vo.title}"  ></a>
                                <span><a href="{:U($vo['href_url'],array('id'=>$vo['id']))}" title="{$vo['title']}" >{$vo.title|cutCn=10}</a></span>
                            </div>
                        </div>
                    </volist>
                </div>

                <div class="col-md-4">

                    <div class="wow fadeInDown clearfix" style="margin-bottom: 10px;">
                        <h2><a href="/news/" style="font-size: 24px;border-left: 5px #0E4726 solid;padding-left: 5px;">公告</a></h2>
                    </div>

                    <div class="testimonial wow fadeInDown">
                        <volist name="noticesData" id="vo">
                            <div class="media testimonial-inner cpk_icon">
                                <a  href="{:U($vo['href_url'],array('id'=>$vo['id']))}" title="{$vo['title']}">{$vo['title']|cutCn=25}</a>
                            </div>
                        </volist>
                    </div>

                </div>
            </div>
        </div>
    </div>







    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown" style="padding: 0px;">
                <h2>友情链接</h2>
                <p class="lead">friendly link</p>
            </div>    

            <div class="m-public-friend">
                <ul>
                    <volist name="friendLinkData" id="vo">
                        <li> <a href="{$vo.description}" target="_blank" title="{$vo.title}"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{$vo.cover_url}" height="200" ></a></li>
                    </volist>
                </ul>
            </div>        

            <div class="m-public-friend">
                <ul>
                    <volist name="friendLinknopicData" id="vo">
                        <li> <a href="{$vo.description}" target="_blank" title="{$vo.title}" style="color: #fff;">{$vo.title}</a></li>
                    </volist>
                </ul>
            </div>        


        </div><!--/.container-->
    </section><!--/#partner-->




</block>
