<extend name="Public/new_common"/>

<block name="body_main">


    <section id="blog" class="container">
        <div class="center">
            <h2>{$pageCateData['title']}</h2>
            <p class="lead">About modern hand painting news</p>
        </div>

        <div class="blog">
            <div class="row">
                 <div class="col-md-8">

                    <volist name="list" id="vo">
                        <div class="blog-item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{$vo.create_time|date="Y-m-d",###}</span>
                                        <span><i class="fa fa-user"></i> <a href="#">{$vo.view}</a></span>
                                    </div>
                                </div>
                                    
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <a href="{:U($vo['href_url'],array('id'=>$vo['id']))}"><img class="img-responsive img-blog" src="{$vo.cover_url}" width="100%" alt="" /></a>
                                    <h2><a href="{:U($vo['href_url'],array('id'=>$vo['id']))}">{$vo.title}</a></h2>
                                    <h3>{$vo.description}</h3>
                                    <a class="btn btn-primary readmore" href="{:U($vo['href_url'],array('id'=>$vo['id']))}">查看详情<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>    
                        </div><!--/.blog-item-->
                    </volist>
                       
                    <div class="m-public-pages" style="margin-right: 20px;">{$page}</div>

                </div><!--/.col-md-8-->

                <include file="News:news_side" />

            </div><!--/.row-->
        </div>
    </section><!--/#blog-->





</block>


